*{
    box-sizing: border-box;
    margin: 0 0 10 20px;
    padding: 0;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.nuestros{
    color: rgb(95, 111, 148);
    font-weight: 400;
    text-align: center;
    padding: 10px 0px;
    font-size: 40px;  
}

p{
    text-align: center;
    padding: auto;
    font-size: 30px 10px;
    margin-bottom: 10px;
}

.linea{
    background-color: rgba(106, 106, 255, 0.486);
    height: 5px;
    width: 100%;
    position: center center;
    
}
.galeria{
    position: center center;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    margin: auto;
    grid-gap: 15px;
    padding: 0px 0;
    overflow: hidden;
}

.galeria img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;

}


a:hover{
    filter:brightness(60%);
    transform:rotate(1deg);
}

    
